{% include 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Let's do it!{% endblock %}</title>

    <!-- css files -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- css files -->

    <!-- js files -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- js files -->

  </head>

  <body>
   <!-- <header>
      
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
       <h3><a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a></h3>
      {% endif %}
      <hr>
    </header> -->
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>